<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service1Behavior" >
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <!--  -->
        <behavior name="jsonBehavior">
          <webHttp defaultBodyStyle="Bare" helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="streamedBinding" transferMode="Streamed">
          <readerQuotas />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="streamedBinding" transferMode="Streamed" />
      </basicHttpBinding>
    </bindings>
      <services>
        <service behaviorConfiguration="Service1Behavior" name="BasicWCF.Service1">
          <!-- soap endpoint -->
          <endpoint name="soap" address="" 
            binding="wsHttpBinding" contract="BasicWCF.IService1" />
          <endpoint name="mex" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <!-- http endpoint -->
          <endpoint name="web" address="web" behaviorConfiguration="jsonBehavior"
            binding="webHttpBinding" contract="BasicWCF.IService1" />
          <!-- streamed endpoint -->
          <endpoint name="streamed" address="streamed" binding="webHttpBinding" bindingConfiguration="streamedBinding" 
                    contract="BasicWCF.IStreamService" behaviorConfiguration="jsonBehavior"/>
        </service>
      </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
