<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
        <behaviors>
            <serviceBehaviors>
                <behavior name="EmployeeServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <!-- json format -->
                <behavior name="jsonBehavior">
                    <webHttp defaultBodyStyle="Bare" helpEnabled="true" defaultOutgoingResponseFormat="Json" />
                </behavior>
                <!-- xml format -->
                <behavior name="xmlBehavior">
                    <webHttp defaultBodyStyle="Bare" helpEnabled="true" defaultOutgoingResponseFormat="Xml" />
                </behavior>
                <!-- agile -->
                <behavior name="autoFormatting">
                    <webHttp defaultBodyStyle="Bare" helpEnabled="true" automaticFormatSelectionEnabled="true" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <webHttpBinding>
                <binding name="httpsBinding">
                    <security mode="Transport"/>
                </binding>
            </webHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="EmployeeServiceBehavior" name="RESTfulWCF.TreeService">
                <!-- http -->
                <endpoint address="json" binding="webHttpBinding" contract="RESTfulWCF.ITreeService"
                          behaviorConfiguration="jsonBehavior"/>
                <endpoint address="xml" binding="webHttpBinding" contract="RESTfulWCF.ITreeService"
                          behaviorConfiguration="xmlBehavior" />
                <endpoint address="auto" binding="webHttpBinding" contract="RESTfulWCF.ITreeService"
                          behaviorConfiguration="autoFormatting" />
                <!-- https -->
                <endpoint address="auto" binding="webHttpBinding" contract="RESTfulWCF.ITreeService"
                          behaviorConfiguration="autoFormatting"
                          bindingConfiguration="httpsBinding" />
            </service>
        </services>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

</configuration>
