<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EmployeeServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <!-- json format -->
        <behavior name="jsonBehavior">
          <webHttp defaultBodyStyle="Bare" helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
        <!-- xml format -->
        <behavior name="xmlBehavior">
          <webHttp defaultBodyStyle="Bare" helpEnabled="true" defaultOutgoingResponseFormat="Xml" />
        </behavior>
        <!-- behavior for ajax -->
        <behavior name="ScriptBehavior">
          <webHttp  defaultBodyStyle="Bare"/>
          <enableWebScript  />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="httpsWebBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="httpWebBinding">
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="EmployeeServiceBehavior" name="RESTfulWCF.TreeService">
        <endpoint address="json" behaviorConfiguration="jsonBehavior"
          binding="webHttpBinding" bindingConfiguration="httpWebBinding"
          contract="RESTfulWCF.ITreeService" />
        <endpoint address="xml" behaviorConfiguration="xmlBehavior" binding="webHttpBinding"
          bindingConfiguration="httpWebBinding" contract="RESTfulWCF.ITreeService" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior"
          binding="webHttpBinding" bindingConfiguration="httpsWebBinding"
          contract="RESTfulWCF.ITreeService" />
        <endpoint address="xml" behaviorConfiguration="xmlBehavior" binding="webHttpBinding"
          bindingConfiguration="httpsWebBinding" contract="RESTfulWCF.ITreeService" />
      </service>
    </services>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
